<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Centro de Empleo Jonny Loco</title>
  </head>
  <body>
    <h1>Pagina principal</h1>
    <br>
    <br>
    <form class="" action="/adminEmpresa" method="post">
        <button type="submit" name="button" value=1 class="btn btn-secondary btn-lg btn-block">Administrar Empresas</button>
    </form>
    <form class="" action="/adminPersona" method="post">
        <button type="submit" name="button" value=2 class="btn btn-secondary btn-lg btn-block">Administrar Personas</button>
    </form>
    <form class="" action="/adminEmpleo" method="post">
        <button type="submit" name="button" value=3 class="btn btn-secondary btn-lg btn-block">Administrar Empleos</button>
    </form>
    <form class="" action="/loginEmpresa" method="post">
        <button type="submit" name="button" value=4 class="btn btn-secondary btn-lg btn-block">Ingresar como Empresa</button>
    </form>
    <form class="" action="/loginEmpleo" method="post">
        <button type="submit" name="button" value=5 class="btn btn-secondary btn-lg btn-block">Ingresar como Solicitante</button>
    </form>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
